/back-end/back-end/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/back-end/back-end/obj/Debug/net8.0/back-end.AssemblyInfo.cs
/back-end/back-end/obj/Debug/net8.0/back-end.AssemblyInfoInputs.cache
/back-end/back-end/obj/Debug/net8.0/back-end.assets.cache
/back-end/back-end/obj/Debug/net8.0/back-end.csproj.AssemblyReference.cache
/back-end/back-end/obj/back-end.csproj.nuget.dgspec.json
/back-end/back-end/obj/back-end.csproj.nuget.g.props
/back-end/back-end/obj/back-end.csproj.nuget.g.targets
/back-end/back-end/obj/Debug/net8.0/back-end.GeneratedMSBuildEditorConfig.editorconfig
/back-end/back-end/obj/Debug/net8.0/back-end.GlobalUsings.g.cs
/back-end/.idea/.idea.back-end/.idea/encodings.xml
/back-end/.idea/.idea.back-end/.idea/indexLayout.xml
/back-end/back-end/obj/project.assets.json
/back-end/back-end/obj/project.nuget.cache
/back-end/back-end/obj/project.packagespec.json
/back-end/.idea/.idea.back-end/.idea/projectSettingsUpdater.xml
/back-end/back-end/obj/rider.project.model.nuget.info
/back-end/back-end/obj/rider.project.restore.info
/back-end/.idea/.idea.back-end/.idea/vcs.xml
/back-end/.idea/.idea.back-end/.idea/workspace.xml
